* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #EAD5BD;
  height: 210vw;
}

.Header h1{
  color: #803939;
  font-family: 'Gill Sans';
}

.MobileNav1{
  width: 30px;
  padding: 5px;
  border-style: dotted;
  
}
.MobileNav2{
  width: 40px;
  padding: 5px;
  border-style: dotted;
  
}
.MobileNav3{
  width: 30px;
  padding: 5px;
  border-style: dotted;
}



